@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Domine', serif;
  color: #354147;
}

#root
{
  display: flex;
  flex-direction: column;
  background-color: rgb(244, 244, 244);
}

.logo{
  margin: 15px;
}
.main
{
  min-height: 38vh;
  align-self: center;
  background-color: white;
  margin: 20px 0px;
  justify-content: center;
  align-items: center;
  /* display: flex; */
  flex-direction: column;
}
.heroMain
{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1rem;
  margin-bottom: 3rem;
}

.textHolderMain{
  width: 100%;
display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #354147;
  justify-self: flex-end;
}

.headerMain{
  color: white;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 25px;
}

.interior
{
  width: 100%;
  align-self: center;
}

.textHolderMain p
{
  display: flex;
  align-self: center;
  width: 80%;
  text-align: center;
  color: white;
  font-family: 'IBM Plex Mono', monospace;
  font-size: small;
}

.buttonHolder{
  width: 100%;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px 0px;
}

.button{
  display: grid;
  place-items: center;
  color: #354147;
  background-color: white;
  border: none;
  border-radius: .5rem;
  font-size: small;
  padding: 1px 6px;
  text-align: center;
  width: 90px;
  height: 25px;
}

.mainIconHolder{
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  margin: 15px 10px;
  padding-bottom: 20px;
}
.iconEach{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iconEach h5
{
  font-size: large;
  margin-top: 10px;
  text-align: center;
}
.iconEach p {
  font-size: small;
  margin-top: 10px;
  text-align: center;
}
.iconsMain
{
  width: 50px;
}

@media screen and (max-width: 450px)
{
  .textHolderMain > p{
    display: none;
  }

  .headerMain{
    color: white;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 0px;
    padding: 5px;
    width: 100%;
    align-self: center;
    overflow-wrap: normal;
  }
    
  .list{
    margin: 30px;
    /* margin-top: 50px; */
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

@media screen and (min-width: 451px){
  .headerMain{
    font-size: 2rem;
    margin: 5px;
  }

  .buttonHolder > button{
    padding: 0px 4px;
  }
  .textHolderMain{
    border-radius: 5px 20px 20px 5px;
  }

  .textHolderMain p
  {
    width: 90%;
    margin: 5px 0px;
  }
}

@media screen and (min-width: 480px){
  .textHolderMain
    {
      border-radius: 5px 15px 15px 5px;
    }
}

@media screen and (min-width: 500px)
{
  .textHolderMain
  {
    border-radius: 5px 10px 10px 5px;
  }
}

@media screen and (min-width: 518px)
{
  .textHolderMain
  {
    border-radius: 0px;
  }
  .heroMain{
    margin-bottom: 1rem;
  }

  .mainIconHolder{
    width: clamp(500px, 90%, 600px);
    gap: 30px
    }
}

@media screen and (min-width: 575px)
{
  .main{
    width: clamp(575px, 90%, 1000px) ;
  }
  .iconEach p{
    font-size: medium;
  }
}

@media screen and (min-width: 700px)
{
  .headerMain
  {
   font-size: 3rem;
   margin-bottom: 20px;
  }

  .buttonHolder{
    margin-top: 20px;
    flex-direction: row;
    justify-content: center;
  }

  .buttonHolder .button{
    font-size: medium;
    height: 35px;
    width: 110px;
    padding: 5px;
  }

  .mainIconHolder
  {
    width: clamp(500px, 90%, 600px);
    gap: 50px
  }
}

@media screen and (min-width: 900px)
{
  .textHolderMain p
  {
    font-size: medium;
    line-height: 1.1;
  }
}