@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Domine', serif;
  color: #354147;
}

#root
{
  display: flex;
  flex-direction: column;
  background-color: rgb(244, 244, 244);
}

.logo{
  margin: 15px;
}
.main
{
  width: 80%;
  padding: 25px 50px;
  align-self: center;
  background-color: white;
  margin: 40px 0px;
}
.heroMain
{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1rem;
  margin-bottom: 3rem;
}

.textHolderMain{
display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #354147;
  justify-self: flex-end;
}

.headerMain{
  color: white;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 25px;
}

.interior
{
  width: 100%;
}

.textHolderMain p
{
  display: flex;
  align-self: center;
  width: 80%;
  text-align: center;
  color: white;
  font-family: 'IBM Plex Mono', monospace;
  font-size: small;
}

.buttonHolder{
  margin: 30px;
  align-self: center;
  display: flex;
  width: 80%;
  justify-content: space-evenly;
}

.button{
  display: grid;
  place-items: center;
  color: #354147;
  background-color: white;
  width: 140px;
  height: 40px;
  border: none;
  border-radius: .5rem;
}

.mainIconHolder{
  display: flex;
  justify-content: space-evenly;
  gap:150px;
  padding: 0px 100px;
  margin-bottom: 25px;
}
.iconEach{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.iconEach h5
{
  font-size: large;
  margin-top: 10px;
  text-align: center;
}
.iconEach p {
  font-size: small;
  margin-top: 10px;
  text-align: center;
}
.iconsMain
{
  width: 150px;
}