.basketHeader{
  margin: 30px;
  margin-bottom: 0px;
}

.basketFull{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
}

.basketItem{
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 3fr 5fr 1fr;
  align-items: center;
  margin: 30px;
  border-top: dashed rgb(129, 129, 129) 2px;
  border-bottom: dashed rgb(129, 129, 129) 2px;
}

.basketImg{
  width: 150px
}

.basketDetails{
  margin-left: 25px;
  font-family: 'IBM Plex Mono', monospace;
  font-size: large;
}

.amountHolder{
  place-self: center;
  display: flex;
  gap: 5px;
  justify-content: space-evenly;
}

.amountControl{
  font-size: large;
  display: grid;
  place-items: center;
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 50%;
  background-color: rgb(226, 139, 139);
}
.amountControl:first-child
{
  background-color: rgb(249, 224, 224);
}
.number{
  background-color: white;
}

.itemCost{
  font-size: x-large;
}


.purchase{
  max-height: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, .5fr) 1fr 2fr;
  gap: 10px;
  align-items: center;
  margin: 30px;
  padding: 40px 30px;
  padding-bottom: 0px;
  border-radius: 0.5rem;
  column-gap: 90px;
}

.basketTotal{
  font-size: large;
  justify-self: flex-start
}

.total{
  font-size: xx-large;
  padding:10px 0px;
}

.price{
  justify-self: flex-end
}
.payHolder{
  width: 100%;
  height: 100%;
  border-top: solid 1px black;
  grid-column: span 2;
  display: grid;
}
.pay{
  place-self: center;
  cursor: pointer;
  background-color: #354147;
  color: white;
  border:none;
  border-radius: .5rem;
  padding: 20px 60px;
  font-size: xx-large;
  box-shadow: 5px 5px 5px grey;
  grid-column: span 2;
}


/* empty basket section */

.emptyBasketHolder{
  display: flex;
  flex-direction: column;
}

.emptyBasketImage{
  width: 30%;
  align-self: center;
}

.emptyBasketH3{
  text-align: center;
  font-size: 3rem;
}
.emptyBasketP{
  text-align: center;
    font-size: 1rem;
    margin: 15px;
}

.emptyButtonLink{
  align-self: center;
}

.emptyButton{
  place-self: center;
 text-align: center;
  width: 150px;
  height: 70px; 
  display: grid;
  place-items: center;
  color: white;
  background-color: #354147;
  border-radius: .5rem;
  font-size: large;
}

.emptyMain{
  padding-top: 0;
}