.item{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.itemDetails{
  max-height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 3fr 1fr 4fr;
}

.usual{
  align-self: center;
  display: grid;
  grid-template-columns: .8fr 8fr;
  grid-template-rows: repeat(4, min-content);
}

.smallIcon{
  justify-self: flex-start;
  align-self: center;
  width: 40px;
}

.smallIconDesc{
  place-self: center;
  justify-self: flex-start;
}

.addBasket{
  justify-self: flex-start;
  border: none;
  border-radius: .5rem;
  background-color: #343434;
  color: white;
  font-size: large;
  padding: 10px 40px;
}

.description{
  font-family: 'IBM Plex Mono', monospace;
}

.description,
.itemTitle,
.itemCost{
  align-self: center;
}

.itemImage{
  width: 500px;
}