.navbar{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: rgb(252, 252, 252);
  position: sticky;
  top:0px;
}
.nav-list{
  display: flex;
  gap: 70px;
  align-items: center;
}

.list-item{
  list-style-type: none;
  font-size: x-large;
  font-weight: 600;
  color: #354147;
}

a{
  text-decoration: none;
}
a:visited{
  color: #354147;
}

.footer{
  background-color: rgb(252, 252, 252);
  display: flex;
  flex-direction: column;
  place-items: center;
}

.list{
  margin: 30px;
  margin-top: 50px;
  display: flex;
  gap:30px;
}

.footer-item{
  list-style-type: none;
}

.footer-item:hover{
  cursor: pointer;
  color: rgb(77, 101, 140);
}

.act, 
.cert{
  background-color: #354147;
  height: 90px;
  padding: 10px
}

.otherLogos{
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 20px;
}
.basketIcon{
  position: relative;
}

.amount{
  position: absolute;
  bottom: -10px;
  right: -10px;
}